Source: drake
Maintainer: Drake Development Team <drake-users@mit.edu>
Uploaders: Jamie Snape <jamie.snape@kitware.com>
Section: libdevel
Priority: optional
Build-Depends: bazel,
               clang-format-9,
               coinor-libclp-dev,
               coinor-libcoinutils-dev,
               coinor-libipopt-dev,
               debhelper-compat (= 12),
               default-jdk,
               default-jre,
               dh-sequence-python3,
               dh-sequence-sphinxdoc,
               file,
               gfortran,
               git,
               graphviz,
               javahelper,
               jupyter-notebook,
               libamd2,
               libblas-dev,
               libbz2-dev,
               libclang-9-dev,
               libdouble-conversion-dev,
               libeigen3-dev,
               libexpat1-dev,
               libfreetype6,
               libgflags-dev,
               libgfortran5,
               libgl-dev,
               libglew-dev,
               libglib2.0-dev,
               libglu1-mesa,
               libglx-dev,
               libhdf5-103,
               libjpeg-turbo8-dev,
               libjsoncpp-dev,
               liblapack-dev,
               libldl2,
               liblz4-dev,
               liblzma-dev,
               libmumps-seq-dev,
               libnetcdf15,
               libnlopt-cxx-dev,
               libogg0,
               libopengl-dev,
               libpng-dev,
               libqt5core5a,
               libqt5gui5,
               libqt5printsupport5,
               libqt5widgets5,
               libquadmath0,
               libspdlog-dev,
               libsqlite3-0,
               libsuitesparse-dev,
               libtheora0,
               libtiff-dev,
               libtinyxml-dev,
               libtinyxml2-dev,
               libtool,
               libx11-dev,
               libxml2,
               libxt6,
               libyaml-cpp-dev,
               openssh-client,
               patch,
               patchelf,
               pkg-config,
               python-is-python3,
               python3,
               python3-all-dev,
               python3-ipywidgets,
               python3-lxml,
               python3-matplotlib,
               python3-numpy,
               python3-pydot,
               python3-pygame,
               python3-scipy,
               python3-tk,
               python3-tornado,
               python3-u-msgpack,
               python3-yaml,
               python3-zmq,
               rsync,
               unzip,
               zlib1g-dev
Build-Depends-Indep: doxygen,
                     fonts-dejavu-core,
                     fonts-dejavu-extra,
                     jekyll,
                     node-uglify,
                     python3-docutils,
                     python3-sphinx-rtd-theme,
                     python3-sphinx
X-Python3-Version: >= 3.8
Standards-Version: 4.5.0
Homepage: https://drake.mit.edu
Vcs-Browser: https://github.com/RobotLocomotion/drake
Vcs-Git: https://github.com/RobotLocomotion/drake.git
Rules-Requires-Root: no

Package: drake-dev
Architecture: any
Multi-Arch: no
Depends: jupyter-notebook,
         libeigen3-dev,
         libspdlog-dev,
         libtinyxml2-dev,
         libyaml-cpp-dev,
         python3-ipywidgets,
         python3-lxml,
         python3-matplotlib,
         python3-pydot,
         python3-pygame,
         python3-scipy,
         python3-tk,
         python3-tornado,
         python3-u-msgpack,
         python3-yaml,
         python3-zmq,
         ${java:Depends},
         ${python3:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: drake-doc
Description: Model-based design/verification for robotics (development files)
 Drake ("dragon" in Middle English) is a toolbox maintained by the Robot
 Locomotion Group at the MIT Computer Science and Artificial Intelligence Lab
 (CSAIL). It is a collection of tools for analyzing the dynamics of robots and
 building control systems for them in C++ and Python, with a heavy emphasis on
 optimization-based design/analysis.
 .
 This package provides development files.

Package: drake-doc
Architecture: all
Section: doc
Depends: fonts-dejavu-core,
         fonts-dejavu-extra,
         ${sphinxdoc:Depends},
         ${misc:Depends}
Built-Using: ${sphinxdoc:Built-Using}
Description: Model-based design/verification for robotics (documentation)
 Drake ("dragon" in Middle English) is a toolbox maintained by the Robot
 Locomotion Group at the MIT Computer Science and Artificial Intelligence Lab
 (CSAIL). It is a collection of tools for analyzing the dynamics of robots and
 building control systems for them in C++ and Python, with a heavy emphasis on
 optimization-based design/analysis.
 .
 This package provides documentation.
